.card-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  border: 2px solid blueviolet;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}
.main-img {
  width: 100%;
  border: 2px solid red;
  object-fit: cover;
}
.desktop-img {
  object-fit: cover;
  width: auto;
  height: auto;
  padding: .5em;
  border: 2px solid green;
}